Repository flexera-public/flexera-plugins, pull requests merged in 2021-05, with the labels that each got.

#210 Adding services to codeowners
  CODEOWNERS
Labels: enhancement

#189 Pol 236 aws ec2 compute plugin
  aws/rs_aws_compute/README.md
  aws/rs_aws_compute/aws_compute_plugin.rb
  aws/rs_aws_compute/changelog.md
  aws/rs_aws_compute/compute_instance_test_cat.rb
  aws/rs_aws_compute/compute_plugin_test_cat.rb
Labels: READY-FOR-REVIEW, changelog, enhancement

#191 POL-240 - Azure Compute Plugin
  azure/rs_azure_compute/azure_compute_plugin.rb
  azure/rs_azure_compute/changelog.md
  azure/rs_azure_compute/compute_test_cat.rb
Labels: DO-NOT-MERGE, READY-FOR-REVIEW, changelog, enhancement
